{% extends "/blog.html" %}

{% block title %}{% if unread %}Непрочитанные комментарии{% else %}Комментарии{% endif %} {{env.user.login}}{% endblock %}

{% block subheader %}
{% if unread %}
<a href="/comments">Комментарии</a>
<span class="active">Непрочитанные{% if unread_comments %} ({{unread_comments}}){% endif %}</span>
{% else %}
<span class="active">Комментарии</span>
<a href="/comments/unread">Непрочитанные{% if unread_comments %} ({{unread_comments}}){% endif %}</a>
{% endif %}
{% endblock %}
